<div class="search-volunteers">
  <div class="form-group">
    <label>Search Volunteers by Training Status</label>
    <select class="form-control" (change)="onChange($event.target.value)">
      <option value="all" selected="selected">All Volunteers</option>
      <option value="completed">Completed Training</option>
      <option value="incomplete">Incomplete Training</option>
    </select>
  </div>
</div>
<div class="volunteer-objects">
  <div *ngFor="let volunteer of volunteers | async | pipeSortTrained:filterByTraining" class="volunteer-object">
    <div class="panel-body">
      <div>
        <h3 (click)="goToVolunteer(volunteer)"><em>{{volunteer.name}}</em>,  {{volunteer.age}}</h3>
        <p>Training Status: <em>{{volunteer.trained}}</em></p>
      </div>

      <div *ngIf="currentRoute === '/admin'">
        <p>Background: <em>{{volunteer.background}}</em></p>
        <hr>
        <app-edit-volunteer [selectedVolunteer]="volunteer" ></app-edit-volunteer>
      </div>
    </div>
  </div>
</div>
